/**
 * BIN 2023
 * Subtheme specific CSS file for BIN 2023.
 */

 html, body {
	height: 100vh;
}

body {
	font-family: 'Poppins', sans-serif;
}

#main-wrapper {
	min-height: 300px;
	padding-top: 1rem;
}