/**
 * BIN 2023
 * Subtheme specific CSS file for BIN 2023.
 */

html, body {
	height: 100vh;
}

body {
	font-family: 'Poppins', sans-serif;
}

#navbar-main {
	size: 0em;
}

/* Navbar styling */

#navbar-main {
	justify-content: right;
	padding-left: 100%;
}

.nav-link.nav-link--kontakt {
	background: rgb(221, 166, 28);
	border-radius: 8px;
}

.nav-link.nav-link--kontakt:hover {
	background: rgb(214, 154, 0);
}


#block-bin2023-main-menu .nav-link {
	color: white;
  	white-space: nowrap;
}

#block-bin2023-main-menu .nav-link:hover {
	color: #fff45dbb;
}

.nav-item {
	padding-left: 1rem;
	padding-right: 1rem;
	font-size: 1.1rem;
	font-weight: 700;
	color: white;
}

.navbar-toggler {
   background-color: #fff;
}

#block-bin2023-main-menu ul {
 	flex-flow: row nowrap;
 	justify-content: right;
}


/* Banner styling */ 
.header {
	background-image: url('https://imgur.com/HHx29BP.jpg');
	height: 500px;
	width: 100%;
	background-size: cover;
	background-repeat: no-repeat;
	margin: auto;
	top: -10;
}

.div-content {
  flex: 50%;
}
